@model KLENZ.Models.Project_ToBeTenderList

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Project_ToBeTenderList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FyYear" class="control-label"></label>
                <select asp-for="FyYear" class="form-control" asp-items="ViewBag.FyYear"></select>
                <span asp-validation-for="FyYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkOrderDate" class="control-label"></label>
                <input asp-for="WorkOrderDate" class="form-control" />
                <span asp-validation-for="WorkOrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyNameId" class="control-label"></label>
                <select asp-for="CompanyNameId" class="form-control" asp-items="ViewBag.CompanyNameId"></select>
                <span asp-validation-for="CompanyNameId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerDetails" class="control-label"></label>
                <input asp-for="CustomerDetails" class="form-control" />
                <span asp-validation-for="CustomerDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkDetails" class="control-label"></label>
                <input asp-for="WorkDetails" class="form-control" />
                <span asp-validation-for="WorkDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectCost" class="control-label"></label>
                <input asp-for="ProjectCost" class="form-control" />
                <span asp-validation-for="ProjectCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GSTTypeId" class="control-label"></label>
                <select asp-for="GSTTypeId" class="form-control" asp-items="ViewBag.GSTTypeId"></select>
                <span asp-validation-for="GSTTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkDuration" class="control-label"></label>
                <input asp-for="WorkDuration" class="form-control" />
                <span asp-validation-for="WorkDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDateTime" class="control-label"></label>
                <input asp-for="CreatedDateTime" class="form-control" />
                <span asp-validation-for="CreatedDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedUserId" class="control-label"></label>
                <input asp-for="CreatedUserId" class="form-control" />
                <span asp-validation-for="CreatedUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
